@using Aminimanesh.Core.DTOs.UserDTOs
@model ChangeCredentialsDTO
@{
    ViewData["Title"] = "Change Credentials";
}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">@ViewData["Title"]</h1>
<p class="mb-4">
    Change admin login credentials.
</p>

<div class="card shadow mb-4">
    <div class="card-header py-3 bg-info">
        <h6 class="m-0 font-weight-bold text-white">Login Credentials</h6>
    </div>
    <div class="card-body">
        <form class="user" asp-area="Admin" asp-controller="User" asp-action="ChangeCredentials" method="post">

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger" data-bs-theme="dark" asp-validation-summary="All"></div>
            }

            <input type="hidden" asp-for="@Model.UserId" />

            <div class="form-group row mb-0">
                <div class="col-sm-6 col-md-4">
                    <input type="text" class="form-control mb-2" asp-for="@Model.UserName" value="@Model.UserName"
                           placeholder="User Name">
                    <input type="email" class="form-control mb-2" asp-for="@Model.Email" value="@Model.Email"
                           placeholder="Email">
                    <input type="text" class="form-control mb-2" asp-for="@Model.OldPasword"
                           placeholder="Old Passowrd">
                    <input type="text" class="form-control mb-2" asp-for="@Model.RePasword"
                           placeholder="Old Password Confirm">
                    <input type="text" class="form-control" asp-for="@Model.NewPasword"
                           placeholder="New Password">

                    <button type="submit" class="btn btn-success btn-user btn-block mt-4">
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>